@charset "utf-8";

/*기본색상*/
:root{
    --main-color:#5D9AB2;
    --accect-color:#BF6A7A;
    --dark-main-color:#2B5566;
    --title-font-color:rgb(37, 107, 41);
}

h2{
  background-color: var(--accect-color-);
  color: var(--title-font-color);
}

ol{
  background-color: var(--accect-color);
  color: var(--title-font-color);
}

